.PreviewScrollElems {
    margin-top: 1em;
    overflow: auto;
    height: 80%;
    position:absolute;
    background: linear-gradient(180deg, rgba(26, 17, 35, 0) 0%, rgba(26, 17, 35, 0.0495) 100%);
    border-radius: 7.5px;
}

.PreviewScrollElems::-webkit-scrollbar{
    background-color: linear-gradient(180deg, rgba(26, 17, 35, 0) 0%, rgba(26, 17, 35, 0.0495) 100%);
    width: 10px;
}

.PreviewScrollElems::-webkit-scrollbar-thumb{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.PreviewInst {
    font-family: 'monarcha';
    text-align: left;
}