.Dict {
    font-family: 'monarcha';
    background-color: #E9E3DA;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
}

.DictWord {
    color: var(--tangerine);
}