.IndivInstruction {
    text-align: left;
    width: 100%;
    display: flex;
    
}

.InstructionText{
    font-family: 'monarcha' !important;
    font-size: 1.2em;
    width: 100%;
    margin-right: 2em;
}

.DictButton {
    all: unset;
    color: var(--tangerine);
    text-decoration: underline;
    font-weight : bold 
}