.IndivDict {

}

.IndivInstruction {
    // font-family: 'monarcha' !important;
}

.InstructionText{
    font-family: 'monarcha' !important;
}

.DictButton {
    all: unset;
    color: #3B9F2B;
    text-decoration: underline;
}