@font-face {
    font-family: 'FilsonProMedium';
    src: url(../../fonts/filson-pro-cufonfonts/FilsonProMedium.otf) format('opentype');
}

@font-face {
    font-family:"filson-soft";
    src:url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/a?subset_id=2&fvd=i3&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/a?subset_id=2&fvd=i6&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }

.Recipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

.NavTabs {
    position: relative;
    height: 60%;
}

.RTitle {
    position: relative;
    flex-grow: 6;
}

.IHeader {
    position: relative; 
    flex-grow: 6;
    color: #D1291C !important;
}

.RecipeOverview {
    padding: 0 4em;
    width: 66%;
    text-align: center;
    margin-top: 2%;
    position: relative;

    .RecipImg {
        width: 100%;
        height: 100%;
    }

    .RecipeDesc {
        padding-top: 0.5em;
        font-family: 'monarcha';
        font-size: 1.25em;
    }

    h1 {
        font-family: 'filson-soft';
        margin-top: 0;
        margin-bottom: 0;
        font-size: 4em;
    }
    
}
.RecipeSidebar {
    margin-top: 2%;
    text-align: center;
    width: 34%;
    ul {
        list-style-type: none;
        padding-inline-start: 0%;
    }
    li {
        margin-top: 0.5em;
    }

    .RecipeTags {
        font-family: 'filson-soft';
        width: 50%;
        display: inline-block;
        text-align: left;
        align-items: center;
        border-radius: 10px;
        border: 3px solid var(--apron);
        margin: 10px;
        color: var(--graypan);
        font-weight: 400;

        .TagsList {
            margin-left: 1em;
        }
    }

    .RecipeIngreds {
        width: 50%;
        display: inline-block;
        text-align: left;
        align-items: center;

        h2 {
            font-family: 'filson-soft';
            font-size: 2em;
            color: #4848C1;
        }

       .IngredientsList {
            font-size: 17px;
            font-family: 'monarcha';
            height: 100%;
            // position: absolute;
            overflow: auto;
            // box-shadow: 0 10px 5px -2px rgb(206, 196, 196);
       }

       .IndivIngred:not(:last-child) {
            margin-bottom: 1.5em;
       }
    }
}

.CookButton {
    font-family: 'filson-soft' !important;
    background-color: #D1291C !important;
    text-transform: none !important;
    border-radius: 20px !important;
}

.headerContain{
    display: flex;
}

.backButton{
    display:flex;
    font-weight: 300 !important;
    font-size: 20px !important;
    font-family: 'filson-soft' !important;
    color: #908B87;
    border: 0;
    background-color: var(--eggwhite);
    // flex-grow: 2;
    text-align: center;
    position: relative;
    width: 163px;
    height:50px;
    // left: 880px;
    // top: 6px;
    line-height: 2.25;
    cursor: pointer;
    text-decoration: none;
}

.backArrow{
    position: relative;
    top: 20%
}