.Recipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

.NavTabs {
    position: relative;
    height: 60%;
}

.RTitle {
    position: relative;
    flex-grow: 6;
    display: flex;
}

.IHeader {
    position: relative; 
    flex-grow: 6;
    color: #D1291C !important;
}

.RecipeOverview {
    padding: 0 4em;
    width: 66%;
    text-align: center;
    margin-top: 2%;
    position: relative;

    .RecipImg {
        width: 100%;
        height: 100%;
    }

    .RecipeDesc {
        padding-top: 0.5em;
        font-family: 'monarcha';
        font-size: 1.25em;
    }

    h1 {
        font-family: 'filson-soft';
        margin-top: 0;
        margin-bottom: 0;
        font-size: 4em;
    }
    
}
.RecipeSidebar {
    margin-top: 2%;
    text-align: center;
    width: 34%;
    ul {
        list-style-type: none;
        padding-inline-start: 0%;
    }
    li {
        margin-top: 0.5em;
    }

    .RecipeTags {
        font-family: 'filson-soft';
        width: 60%;
        display: inline-block;
        text-align: left;
        align-items: center;
        border-radius: 10px;
        border: 3px solid var(--apron);
        margin: 10px;
        color: var(--graypan);
        font-weight: 400;

        .TagsList {
            margin-left: 1em;
            padding-top: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
    }

    .RecipeIngreds {
        width: 60%;
        display: inline-block;
        text-align: left;
        align-items: center;

        h2 {
            font-family: 'filson-soft';
            font-size: 2em;
            color: #4848C1;
            padding-left: 0.2em;
        }

       .IngredientsList {
            padding: 0 0.5em;
            font-size: 17px;
            font-family: 'monarcha';
            height: 20em;
            overflow: auto;
            background: linear-gradient(180deg, rgba(26, 17, 35, 0) 0%, rgba(26, 17, 35, 0.0495) 100%);
            border-radius: 7.5px;

       }

       .IngredientsList::-webkit-scrollbar{
            // background-color: var(--eggwhite);
            width: 10px;
        }

        .IngredientsList::-webkit-scrollbar-thumb{
            background-color: #D9D9D9;
            border-radius: 10px;
        }

       .IndivIngred:not(:last-child) {
            margin-bottom: 1.5em;
       }
    }
}

.CookButton {
    font-family: 'filson-soft' !important;
    background-color: #D1291C !important;
    text-transform: none !important;
    border-radius: 20px !important;
}

.headerContain{
    display: flex;
}

.backButton{
    display:flex;
    font-weight: 300 !important;
    font-size: 20px !important;
    font-family: 'filson-soft' !important;
    color: #908B87;
    border: 0;
    background-color: var(--eggwhite);
    // flex-grow: 2;
    text-align: center;
    position: relative;
    width: 163px;
    height:50px;
    // left: 880px;
    // top: 6px;
    // line-height: 2.25;
    cursor: pointer;
    padding-top: 3em;
    text-decoration: none;
}

.backArrow{
    position: relative;
    // top: 20%
}

.diettags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .time{
    transform: scale(0.5);   
    transform-origin: top left;
  }

.dietlogo{
    transform: scale(0.67);
    transform-origin: top left;
}

.diettext{
    display: flex;
    gap: 6px
}

.progBox{
    display: flex;
    flex-direction: column;
}

.progText{
    display: flex;
    justify-content: space-between;
}

.fracProg{
    font-family: 'monarcha';
    font-size: 18px;
    font-weight: 300;
    color: var(--graypan);
}

.percentProg{
    font-family: 'filson-soft';
    font-size: 12px;
    font-weight: 400;
    color: var(--matcha);
}

.progressBar{
    height: 16px !important;
    border-radius: 8px !important; 
}