// .content {
//     bottom:0;
// }

.Tabs {
    position: relative;
    height: 100%;
}

.tabIcon {
    font-family: 'filson-soft' !important;
    color: #4848C1 !important;
    text-transform: none !important;
}

