.Recipe {
    text-align: center;
  }
  @font-face {
    font-family: 'FilsonProBold';
    src: url(../fonts/filson-pro-cufonfonts/FilsonProBold.otf) format('opentype');
  }

  @font-face {
    font-family: 'FilsonProThin';
    src: url(../fonts/filson-pro-cufonfonts/FilsonProThin.otf) format('opentype');
  }

  @font-face {
    font-family: 'FilsonProBook';
    src: url(../fonts/filson-pro-cufonfonts/FilsonProBook.otf) format('opentype');
  }
  @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/34240e/00000000000000007735ddf6/30/a?subset_id=2&fvd=i3&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/904d6e/00000000000000007735ddfc/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d7d9ce/00000000000000007735ddf7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c2ccf4/00000000000000007735ddfd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/2a6ce4/00000000000000007735ddf8/30/a?subset_id=2&fvd=i6&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/439c04/00000000000000007735ddf9/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/36bc10/00000000000000007735ddfb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"monarcha";
    src:url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/bc3ddc/00000000000000007735ddfa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }
    @font-face {
      font-family:"filson-soft";
      src:url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }

  .recipepage {
    height: 100vh;
    background-color: var(--apron);
  }

  img {
    border-radius: 8px;
  }

  .pagehead{
    text-align: center;
    font-family: 'monarcha';
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 91px;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .rtitle{
    /* text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 38.73px; */
    width: 346px;
    /* height: 17px; */

    /* H3 */

    font-family: 'filson-soft';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 34px;
    /* display: flex; */
    align-items: center;
    text-align: center;

    /* poppyseed */

    color: #1A1123;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
  }

  .rdesc{
    width: 346px;
    height: 40px;

    /* P3 */

    font-family: 'FilsonProThin';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;

    /* graypan */

    color: #918B87;


    /* Inside auto layout */

    /* flex: none; */
    order: 1;
    flex-grow: 0;
  }

  .rpanel {
    /* recipe 1 */

    position: relative;
    width: 448px;
    height: 341px;
    background: #fff;
    float: left;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 84px;
    margin-left: 84px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 74px;
    padding-left: 74px;
    padding-top: 245px;
    text-align: center;
    overflow: hidden;
  }

  .recipemock {
    /* recipe 1 */

    background: var(--eggwhite);;
    border: 0px;
    position: relative;
    width: 352px;
    height: 382px;

    text-align: center;
    overflow: hidden;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: auto;
    border-radius: 10px;
    border: 1px solid apron;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
  }

  .tbndisplay {
    position: absolute;
    width: 270px;
    height: 197px;
    left: 38px;
    top: 72px;

    /* background: url(catalan-chick.jpg); */
    border-radius: 8px;
  }

  .dietatts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transform-origin: top left;
    transform: scale(0.67);
    gap: 6px;
  }

  .attributes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 16px;
    left: 40px;
    top: 16px;
    width: 264px;
  }

  .timelogo{
    transform: scale(0.5);
    
  }

  .timedisplay {
    /* Rectangle 16 */
    /* position: absolute;
    width: 65px;
    height: 33px;
    top: 0px;
    left: 38px;

    background: rgba(217, 217, 217, 0.76);
    border-radius: 8px;
    font-size: 15px;
    overflow: hidden; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 0px;

    position: absolute;
    width: 188px;
    height: 27px;
    left: 40px;
    top: 45px;
    width: 188px;
    height: 15px;

    /* P5 */

    font-family: 'filson-soft';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* graypan */

    color: #918B87;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
  }
  
  .Recipe-panel {
    background: var(--eggwhite);
    border: 5px solid #999;
    color: #1A1123;
    font-size: 24px;
    font-family: filson-pro, sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 34px;
    height: 20vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: left;
  }
  
  .Recipe-desc {
    color: #4848C1;
    font-size: 16px;
    font-family: filson-pro, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: left;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .maindiv {
    /* Auto layout */
    background: var(--apron);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 1232px;
    /* height: 1338px; */
    left: calc(50% - 1232px/2 - 50px);
    top: 292px;
  }

  .row {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 60px;
    gap: 28px;

    width: 1232px;
    height: 446px;


    /* Inside auto layout

    flex: none;
    order: 0;
    flex-grow: 0; */
  }

  .rtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 12px 0px 12px 6px; */
    /* gap: 16px; */

    position: absolute;
    width: 352px;
    height: 97px;
    left: 0px;
    top: 285px;
  }




