.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 30fr;
  grid-gap: 20px;
}

.Recipe-panel {
  background: #EFEAE4;
  border: 5px solid #999;
  color: #1A1123;
  font-size: 24px;
  font-family: filson-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 34px;
  height: 20vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: left;
}

.Recipe-desc {
  color: #4848C1;
  font-size: 16px;
  font-family: filson-pro, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

