.steps {
    text-align: left;
    font-family: 'monarcha' !important;
    font-size: 20px;
    line-height: 26px;
}

.StepsOverview {
    display:flex;
    padding: 0 4em;
    width: 66%;
    text-align: center;
    margin-top: 2%;
    position: relative;
}

.WalkthruScrollElems {
    flex-grow: 3;
    margin-top: 1em;
    overflow: auto;
    height: 75%;
    position:absolute;
    box-shadow: 0 10px 5px -2px rgb(206, 196, 196);
    padding: 18px;
    // padding-right: 180px;
    top: 84px;
    margin-right: 2em;
    border-radius: 5px;
}

.WalkthruScrollElems::-webkit-scrollbar{
    background-color: #EFEAE4;
    width: 10px;
}

.WalkthruScrollElems::-webkit-scrollbar-thumb{
    background-color: #908B87;
    border-radius: 10px;
}

.backbutton{
    position: absolute;
    width: 163px;
    height: 48px;
    left: 796px;
    top: 6px;
}