@font-face {
    font-family: 'FilsonProMedium';
    src: url('../../fonts/filson-pro-cufonfonts/FilsonProMedium.otf') format('opentype');
}

.steps {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.prevButton {
    font-family: 'FilsonProMedium' !important;
    margin-right: 1em !important;
    background-color: rgba(209, 41, 28, 0.11) !important;
    color: #1A1123 !important;
    // border-radius: 20px !important;
    border-radius: 100px !important;
    padding: 10px 24px !important;
    text-transform: none !important;

}

.nextButton {
    font-family: 'FilsonProMedium' !important;
    background-color: rgba(209, 41, 28, 0.11) !important;
    color: #1A1123 !important;
    // border-radius: 20px !important;
    border-radius: 100px !important;
    padding: 10px 24px !important;
    text-transform: none !important;
}