.CookRec {
    text-align: left;
}

.instructions {
    color: #D1291C;
    text-align: center;
    font-family:'filson-soft';
}

.p {
    font-family: 'monarcha';
}

.h3 {
    font-family: 'filson-soft';
}