

.CookRec {
    text-align: left;
}

.instructions {
    color: #D1291C;
    text-align: center;
    font-family:'filson-soft';
}

.PreviewIns {
    font-family: 'monarcha';
    height: 65%;
    position: absolute;
    overflow: auto;
    box-shadow: 0 10px 5px -2px rgb(206, 196, 196);
}

.step:not(:last-child) { 
    margin-bottom: 1em;  
 }

.h3 {
    font-family: 'filson-soft';
}