

.CookRec {
    text-align: left;
}

.instructions {
    color: #D1291C;
    text-align: center;
    font-family:'filson-soft';
}

.PreviewIns {
    font-family: 'monarcha';
    height: 65%;
    position: absolute;
    overflow: auto;
    box-shadow: inset 0 -20px 20px -20px #908B87;
    border-radius: 7.5px;
}

.PreviewIns::-webkit-scrollbar{
    background-color: #EFEAE4;
    width: 10px;
}

.PreviewIns::-webkit-scrollbar-thumb{
    background-color: #908B87;
    border-radius: 10px;
}

.step:not(:last-child) { 
    margin-bottom: 1em;  
 }

.h3 {
    font-family: 'filson-soft';
}